<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/Login.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <div class="login">    
          <img src="/images/img.PNG" alt="logo" class="image-slide"/>
        <form class="loginForm">
          <h2>Access Your Foodie Paradise</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" required id="username" placeholder="Username" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" id="password" placeholder="Password" />
          </div>
          <a href="#" class="forgot-password">Forgot Password?</a>
          <button type="button" class="btn" onclick="login()">Login</button>
          <p>Don't have an account? <a href="/signup">Sign up</a></p>
          <div class="social-media">
            <a href="#" class="social-icon">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="" class="social-icon">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="social-icon">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
        <p>&copy; 2024 Restaurant Website</p>
        </form>
      </div>
    </div>
    <script src="/js/Script.js"></script>
  </body>
</html>
